/* Reset default browser styles */
html, body, h1, h2, input, button {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Set a dark-grey background */
body {
    background-color: #222;
    color: #fff;
}

/* Header styles */
.header {
    background-color: #333;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

/* Header 'logo' */
.logo h1 {
    margin: 0;

}

.header .logo a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
    background-color: transparent;
    padding: 0;
  }
  
  .header .logo a:hover {
    color: #ff6600;
    background-color: transparent;
  }

.links {
    display: flex;
    align-items: center;
}

.links a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

.login-form {
    display: flex;
    align-items: center;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    padding: 8px;
    margin-right: 10px;
}

.login-form form {
    display: flex;
    align-items: center;
}

.register-link {
    margin-left: 10px;
}

/* Countdown styles */
.countdown {
    background-color: #444;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px; 
}


/* Results styles */
.results {
    padding: 20px;
    /* Add styling for previous match results here */
}

/* Customize links and buttons */
a {
    color: #ff6600;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #ff8533;
}

.header a, .header button {
    background-color: #ff6600;
    color: #fff;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.header a:hover, .header button:hover {
    background-color: #ff8533;
}

/* Homepage results additional styling */
.results-container {
    max-width: 400px;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow:
      0 2px 4px rgba(0, 0, 0, 0.3),
      0 8px 16px rgba(0, 0, 0, 0.3);
    margin: 20px auto;
}

.results-container > article {
    margin-bottom: 40px;
}

.month-container:last-child {
    margin-bottom: 0;
}

.month-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
}

.month-content {
    text-align: left;
    margin-bottom: 10%;

}

.results {
    max-width: 600px;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.results h1 {
    color: #ff6600;
    font-size: 30px;
    margin-bottom: 20px;
}

.results a {
    color: #ff8533;
    text-decoration: none;
    transition: color 0.3s ease;
}

.results a:hover {
    color: #ff6600;
}

.results p {
    margin-top: 5px;
    text-align: left;
    color: #fff;
}

.results b {
    font-weight: bold;
}

.final-result {
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    box-shadow:
        0 2px 2px rgba(0, 0, 0, 0.1),
        0 4px 4px rgba(0, 0, 0, 0.1),
        0 8px 8px rgba(0, 0, 0, 0.1),
        0 16px 16px rgba(0, 0, 0, 0.1),
        0 32px 32px rgba(0, 0, 0, 0.1),
        0 64px 64px rgba(0, 0, 0, 0.1)
    ;
}

/* Registration form */
.registration-container {
    max-width: 400px;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow:
      0 2px 4px rgba(0, 0, 0, 0.3),
      0 8px 16px rgba(0, 0, 0, 0.3);
    margin: 20px auto;
  }
  
  .registration-container h2 {
    color: #fff;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    color: #fff;
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box; 
  }
  
  button[type="submit"] {
    background-color: #ff6600;
    color: #fff;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
  }
  
  button[type="submit"]:hover {
    background-color: #ff8533;
  }
  

