/* ---------- Reset default browser styles ----------  */
html,
body,
h1,
h2,
input,
button {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* ----------  Set a dark-grey background ----------  */
body {
    background-color: #222;
    color: #fff;
}

/* ---------- General link styles ---------- */
a {
    color: #ff6600;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #ff8533;
}

/* ---------- Header styles ----------  */
.sticky-header {
    position: sticky;
    top: 0;
}

.header-container {
    position: sticky;
    top: 0;
}

.header {
    background-color: #333;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

/* Header logo */
.logo h1 {
    margin: 0;
}

.logo a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    padding: 0;
}

.logo a:hover {
    color: #ff6600;
}

.links {
    display: flex;
    align-items: center;
}

.links a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

/* ----- Header Guest ----- */
.login-form {
    display: flex;
    align-items: center;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    padding: 6px;
    margin: 5px;
}

.login-form form {
    display: flex;
    align-items: center;
}

/* ----- Header log-in ----- */
.user-profile {
    display: flex;
    align-items: center;
}

.user-profile .username {
    color: #fff;
    margin-right: 10px;
}

/* Avatar */
.user-profile .profile-picture {
    width: 30px;
    height: 30px;
    background-color: #fff;
}

/* User buttons */
.user-profile .button-container {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

/* ---------- Header Link styles ---------- */
.button-link {
    background-color: #ff6600;
    color: #fff;
    padding: 8px 16px;
    margin: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 6px;
}

.button-link:hover {
    background-color: #ff8533;
}

.logout-button {
    background-color: grey;
    color: #fff;
    padding: 8px 16px;
    margin: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 6px;
}

.logout-button:hover {
    background-color: #ff6600;
}

/* ---------- Countdown styles ---------- */
.countdown {
    background-color: #444;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

/* ---------- Footer ---------- */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 14px;
}

/* ---------- Homepage results additional styling ---------- */

.month-container:last-child {
    margin-bottom: 0;
}

.month-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
}

.month-content {
    text-align: left;
    margin-bottom: 10%;

}

.results {
    max-width: 600px;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.results h1 {
    color: #ff6600;
    font-size: 30px;
    margin-bottom: 20px;
}

.results a {
    color: #ff8533;
    text-decoration: none;
    transition: color 0.3s ease;
}

.results a:hover {
    color: #ff6600;
}

.results p {
    margin-top: 5px;
    text-align: left;
    color: #fff;
}

.results b {
    font-weight: bold;
}

.final-result {
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    text-align: center;
}

/* ---------- Registration form ---------- */
.registration-container {
    max-width: 400px;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow:
        0 2px 4px rgba(0, 0, 0, 0.3),
        0 8px 16px rgba(0, 0, 0, 0.3);
    margin: 20px auto;
}

.registration-container h2 {
    color: #fff;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    color: #fff;
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
}

/* ----------  Main container structure ----------  */
.container {
    display: flex;
    justify-content: center;
}

.left-container,
.right-container,
.results-container {
    flex: 1;
    background-color: #333;
    padding: 20px;
    margin: 20px 10px;
    border-radius: 10px;
    box-shadow:
        0 2px 4px rgba(0, 0, 0, 0.3),
        0 8px 16px rgba(0, 0, 0, 0.3);

}

/* Center container */
.results-container {
    flex: 5;
    width: 50%;
}

.results-container h2 {
    text-align: center;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    box-shadow:
        0 2px 2px rgba(0, 0, 0, 0.1),
        0 4px 4px rgba(0, 0, 0, 0.1),
        0 8px 8px rgba(0, 0, 0, 0.1),
        0 16px 16px rgba(0, 0, 0, 0.1),
        0 32px 32px rgba(0, 0, 0, 0.1),
        0 64px 64px rgba(0, 0, 0, 0.1);
}

.results-container>article {
    margin-bottom: 40px;
}

/* Left and Right container */
.left-container,
.right-container {
  flex: 2;
  width: 25%;
}

/* ---------- Toast notifications ----------  */
.toast-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
  }
  
  .toast {
    display: flex;
    align-items: center;
    background-color: #ff6600;
    color: #fff;
    padding: 10px 15px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .toast-icon {
    font-size: 18px;
    margin-right: 10px;
  }
  
  .toast-message {
    flex: 1;
  }
  
  .toast-close {
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
  }
  